<div class="conteudo">
  <app-sub-menu></app-sub-menu>

  <div class="conteudo__home">
    <div class="conteudo__home__infos">
      <p class="title">Bem vinda, Ianca!</p>
      <p class="sub-title">Como você está se sentindo hoje?</p>
      <form action="">
        <input
          placeholder="Digite aqui..."
          class="input"
          name="text"
          type="text"
        />
        <div class="div-button">
          <button class="button-confirm">Enviar →</button>
        </div>
      </form>
    </div>
    <div class="conteudo__home__sentimentos">
      <p class="title">Meus Sentimentos</p>
      <div class="conteudo__home__sentimentos__cards">
        <app-cp-teste></app-cp-teste>
        <app-cp-teste></app-cp-teste>
        <app-cp-teste></app-cp-teste>
        <app-cp-teste></app-cp-teste>
        <app-cp-teste></app-cp-teste>
        <app-cp-teste></app-cp-teste>
      </div>
    </div>
  </div>
</div>
