<div class="card">
  <div class="tools">
    <div class="circle">
      <span class="red box"></span>
    </div>
    <div class="circle">
      <span class="yellow box"></span>
    </div>
    <div class="circle">
      <span class="green box"></span>
    </div>
  </div>
  <div class="card__content">
    <p>
      "É normal ter medo, ta tudo bem, você só não pode desistir. é só uma fase
      ruim, já está passando e você vai superar."
    </p>
    <span class="author">Autor(a) - Ianca Placimo</span>
  </div>
</div>
