<div class="wrapper">
  <div class="cols">
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div
          class="front"
          style="background-image: url(https://unsplash.it/502/502/)"
        >
          <div class="inner">
            <p>Teste</p>
            <span>Teste</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus
              quia ipsum ex iusto molestiae officia asperiores, quae magnam
              alias optio, nobis quaerat architecto nulla doloremque vel
              incidunt. Quisquam, quae neque.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div
          class="front"
          style="background-image: url(https://unsplash.it/504/504/)"
        >
          <div class="inner">
            <p>Teste</p>
            <span>Teste</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
              deserunt optio laborum quisquam fugit modi earum dicta possimus,
              sint quibusdam perspiciatis nam? Tempore inventore, illo dicta
              maiores corporis a mollitia?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
